.main__ttl{
    font-size: 18px;
}

.box__icon--lock{
    font-size: 22px;
}

.digit-input {
    width: 2em;
    padding: 10px;
    margin: 5px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}