.content__loader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(20px); /* Prefijo para Safari */
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.content__loader p{
    font-size: 15px;
    margin-top: 10px;
}

.content__loader p:nth-child(3){
    margin-top: 30px;
}

.loader {
    border: 2px solid rgb(0, 0, 0);
    border-left-color: transparent;
    border-radius: 50%;
}

.loader {
    border: 2px solid rgb(0, 0, 0);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
}

.loader {
    border: 2px solid rgb(0, 0, 0);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}